<!--<p>you have {{ accountValue }} in your account</p>

<table *ngIf="timeTable.length">
	<tr>
		<td>{{ df[0] }} </td>
		<td>{{ timeTable[timeTable.length - 1] | date : 'long' }} </td>
		<td>bid: {{ closeTable[closeTable.length - 1] }} </td>
	</tr>
</table>-->
<div *ngIf="loadingModel">Loading model ...
	<div class="loader" ></div>
</div>

<div #chart ></div>

<!--<table>
	<td>invest. time:
		<tr *ngFor = "let t of purchaseDates">{{ t | date : 'short' }}</tr>
	</td>
	<td>Amount invested:
		<tr *ngFor = "let a of investedTable">{{ a }}</tr>
	</td>
</table>-->